.modal {
    background-color: black;
    height: 385px;
    }
    .modal__close {
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    .modal__header {
    width: 600px;    
    align-items: right;
    text-align: right;
    }
    
    .modal__window{
    margin-left: 300px;
    }