.rules__title {
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: peru;
    margin-top: 50px;
    margin-bottom: 1px;
    padding-top: 50px;
}

.rules__paragraph{
    font-family:cursive;
    line-height: normal;
    text-align: center;
    font-size: 18px;
    color: black;
    padding-top: 80px;
    margin-bottom: 20px;

}