* {
margin:0;
padding:0;  
box-sizing: border-box;
list-style-type: none;
text-decoration: none;
}

.App__background {
  background: url('../src/Images/FOndoplaneta2.png') border-box;
  width: 100wh;
  height: 100vH;
  align-items: stretch;
}

.App__layout{
  display:flex;
  flex-direction:column;
  box-sizing: border-box;
  min-width: 300px; 
  }  

.App__mainlayout{
display:flex;
flex-direction: row;
box-sizing: border-box;
min-width: 300px; 
}  

.App__sidebar{
  box-sizing: border-box;
  height: 90vh;
  width: 30%;  
}


.App__main{
  display: flex;
  flex-direction:row;
  height: 90vh;
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
  color:white
  }

.App__footer{
background-color: black;
height: 10vh;
width: 100wh;
color:white;
}