.game__box{
    width:103%;
}
.img__item{
    width: 95%;
    height: 15%;
    position: relative;
    top: 84%;
}
.game__title {
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: peru;
    margin-top: 5px;
    margin-bottom: 1px;
    padding-top: 5px;
    width: 99%;
}
.game__subtitle{
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: peru;
}
.game__row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 103%;
    margin-left: -25px;
}

.game__play{
    width: 99%;
    height: 50vh;
}

.game__item{
    width: 12vw;
    height: 30vh;
    justify-content: end;
}


.game__closet{
    background: url('../Images/ArmarioGrogu.png') no-repeat;
    background-size:contain;
    width: 18vw;
    height: 30vh;
    display:flex;
    flex-direction: column;
}

.dice__game{
    width: 27%;
    height: 45%;
    display: block;
    margin:auto;
}

.img__game{
    width: 10%;
    height: 10%;
}

.yoda__game{
    width: 150%;
    height: 50%;
    display: block;
    margin:-25%;
    position: relative;
    top: 40%;
}

.game__closetArticle{
    width: 40%;
    height: 9vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.img__frog{
    width:5.5vh;
    height:5.5vh;
    justify-content: space-between;
    position: relative;
    top: 68%;
}

.img__cokkie{
    width:5.5vh;
    height:5.5vh;
    justify-content: space-between;
    position: relative;
    top: 60%;

}

.img__egg{
    width:5.5vh;
    height:5.5vh;
    justify-content: space-between;
    position: relative;
    top: 50%;
}

.article__item{
    width: 15vw;
    height: 9vh;
}